
<div class="panel-body table-responsive" style="padding:0px;" >
  <table ng-if="items.length" class="table table-striped table-condensed table-hover table-bordered">
      <thead>
          <tr>
              <th><a href="" ng-click="reverse=!reverse;order('title', reverse)">Title</a></th>
              <th><a href="" ng-click="reverse=!reverse;order('geometry_type', reverse)">Type</a></th>
              <th><a href="" ng-click="reverse=!reverse;order('srid', reverse)">Spatial Reference</a></th>
              <th><a href="" ng-click="reverse=!reverse;order('num_features', reverse)">Number of Features</a></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in items" ng-class="{selected:item.id == selectedItem.id}" ng-click="selectItem(item,true)" ui-sref="featurelayers.details({itemId:item.id})">
            <td>{$ item.name $}</td>
            <td>{$ item.geometry_type $}</td>
            <td>{$ item.srid $}</td>
            <td>{$ item.num_features $}</td>
          </tr>
      </tbody>
  </table>
  <div ng-hide="items.length" style="padding:10px;">
    <h4>
      <a ui-sref="featurelayers.add" href="">You have no layers, add new!</a>
    </h4>
  </div>
</div>
<div class="panel-footer">
  <a ui-sref="featurelayers.add" href="" class="btn btn-default btn-sm">
    <i class="glyphicon glyphicon-plus-sign"></i>
  </a>
  <div class="pull-right" ng-if="itemsPerPage<items.meta.total_count" style=" margin-top: -20px;">
    <pagination total-items="items.meta.total_count" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage" ng-change="loadData(currentPage)"></pagination>
  </div>
</div>



